* {
    box-sizing: border-box;
    font-family: "Hanken Grotesk";
}

body {
    background-color: #ECF2FF;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
}

.container {
    /* max-height: 100vh; */
    height: fit-content;
    background-color: white;
    width: 40vw;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.result, .summary {
    padding: 20px;
    border-radius: 15px;
}
.result h1, .summary h1 {
    font-size: larger;
}

.result {
    background-color: #593CF8;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.result h1 {
    color: #C9C3FF;
}

.result h3 {
    color: white;
}

.result p {
    color: #a39eff;
    font-weight: 700;
}

.pie-result {
    background: linear-gradient(
        to bottom,
        #4d22c9,
        #4835f1,
        #593cf8
    );
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pie-result h2 {
    color: white;
    font-size: 80px;
    
}

.pie-result h2,h3 {
    margin: 0px;
}

.pie-result h3 {
    color: #897aff;
}

#result-remark {
    margin-top: 10px;
    font-size: 30px;
}

.summary {
    background-color: white;
    text-align: left;
}

.summary h1 {
    color: #41455B;
}

.summary h2 {
    font-size: 18px;
}

.reaction, .memory , .verbal , .visual {
    height: 50px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reaction {
    background-color: #FFF6F7;
    color: #FC5454;
}
.memory {
    background-color: #FFFAF4;
    color: #FDBF4A;
}
.verbal {
    background-color: #F2FDF9;
    color: #00BA8E;
}
.visual {
    background-color: #F4F4FE;
    color: #1124D2;
}

.score , .name {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score h3 {
    color: #41455B;
}

.score h4 {
    color: rgb(159, 159, 159);
}

button {
    width: 100%;
    border-radius: 40px;
    padding: 15px;
    border: none;
    background-color: #303B59;
    color: white;
    font-weight: 500;
    font-size: 18px;
    transition: 0.5s;
    margin-top: 20px;
}

button:hover {
    background-color: #593CF8;
    transition: 0.5s;
}